GFFONTS       =
PKFONTS       =
GLYPHFONTS    =
TFMFONTS      =
AFMFONTS      =
MFBASES       =
BIBINPUTS     =
BSTINPUTS     =
TEXMFCNF      = $SELFAUTOLOC
TEXMFDBS      =
TEXFORMATS    =
TEXFONTMAPS   =
MPMEMS        =
MFINPUTS      =
MFPOOL        =
MFTINPUTS     =
MPINPUTS      =
MPPOOL        =
MPSUPPORT     =
OCPINPUTS     =
OFMFONTS      =
OPLFONTS      =
OTPINPUTS     =
OVFFONTS      =
OVPFONTS      =
TEXPICTS      =
TEXINPUTS     =
TEXDOCS       =
TEXPOOL       =
TEXSOURCES    =
TEXPSHEADERS  =
TRFONTS       =
T1FONTS       =
VFFONTS       =
TEXCONFIG     =
INDEXSTYLE    =
TTFONTS       =
T42FONTS      =
WEB2C         =
MISCFONTS     =
WEBINPUTS     =
CWEBINPUTS    =
ENCFONTS      =
CMAPFONTS     =
SFDFONTS      =
OPENTYPEFONTS =
PDFTEXCONFIG  =
LIGFONTS      =
TEXMFSCRIPTS  =
LUAINPUTS     =
FONTFEATURES  =
FONTCIDMAPS   =
MLBIBINPUTS   =
MLBSTINPUTS   =
CLUAINPUTS    =
RISINPUTS     =
BLTXMLINPUTS  =
