% ---------------------------
% Search Path and Directories
% ---------------------------
TEXMFROOT     = $SELFAUTOPARENT
TEXMFDIST     = $TEXMFROOT/texmf
TEXMFHOME     = ~/.texmf
TEXMFCACHE    = $TEXMFHOME/cache
TEXMFDOTDIR   = .
TEXMF         = {$TEXMFHOME,$TEXMFDIST}
WEB2C         = $TEXMF/web2c
TEXFORMATS    = $TEXMFDOTDIR;$WEB2C
TEXFONTMAPS   = $TEXMFDOTDIR;$WEB2C
TEXINPUTS     = $TEXMFDOTDIR;$TEXMF/generic//
LUAINPUTS     = $TEXINPUTS
CLUAINPUTS    = $TEXINPUTS
MPINPUTS      = $TEXINPUTS
OVFFONTS      = $TEXMFDOTDIR;$TEXMF/fonts/ovf//
VFFONTS       = $TEXMFDOTDIR;$TEXMF/fonts/vf//
OFMFONTS      = $TEXMFDOTDIR;$TEXMF/fonts/ofm//
TFMFONTS      = $TEXMFDOTDIR;$TEXMF/fonts/tfm//
ENCFONTS      = $TEXMFDOTDIR;$TEXMF/fonts/enc//
SFDFONTS      = $TEXMFDOTDIR;$TEXMF/fonts/sfd//
FONTCIDMAPS   = $TEXMFDOTDIR;$TEXMF/fonts/cid//
OSFONTDIR     = ?
T1FONTS       = $TEXMFDOTDIR;$OSFONTDIR//;$TEXMF/fonts/type1//
AFMFONTS      = $TEXMFDOTDIR;$OSFONTDIR//;$TEXMF/fonts/afm//
TTFONTS       = $TEXMFDOTDIR;$OSFONTDIR//;$TEXMF/fonts/truetype//
OPENTYPEFONTS = $TEXMFDOTDIR;$OSFONTDIR//;$TEXMF/fonts/opentype//
% -------
% Options
% -------
try_std_extension_first = t
shell_escape            = p
shell_escape_commands   = f
openin_any              = a
openout_any             = p
parse_first_line        = t
log_openout             = t
file_line_error_style   = t
texmf_casefold_search   = 1
% -------------
% Sizes for TeX
% -------------
main_memory      = 5000000
extra_mem_top    = 0
extra_mem_bot    = 0
font_mem_size    = 8000000
font_max         = 9000
hash_extra       = 600000
pool_size        = 6250000
string_vacancies = 90000
max_strings      = 500000
pool_free        = 47500
strings_free     = 100
buf_size         = 200000
trie_size        = 1100000
hyph_size        = 8191
nest_size        = 1000
max_in_open      = 15
param_size       = 20000
save_size        = 200000
stack_size       = 10000
error_line       = 79
half_error_line  = 50
max_print_line   = 79
